<form method="get" action="updateUser.php">
    <table>
        <tr>
            <td width="50%">ID: </td>
            <td width="50%"><input readonly type="text" name="ID" value="[id]"></td>
        </tr>
        <tr>
            <td width="50%">Name: </td><td width="50%"><input type="text" name="firstName" value="[firstName]"></td>
        </tr>
        <tr>
            <td width="50%">Nachname: </td><td width="50%"><input type="text" name="lastName" value="[lastName]"></td>
        </tr>
        <tr>
            <td width="50%">Accountname: </td>
            <td width="50%"><input type="text" name="SamAccountName" value="[accName]"></td>
        </tr>
        <tr>
            <td width="50%">Passwordhash: </td>
            <td width="50%"><input type="password" name="passwordHash" value="[hash]"></td>
        </tr>
    </table>

    <br><br>

    <br>

    [listGroups]

    <br>

    <input type="submit" name="submit" value="Speichern">
    <input type="submit" name="submit" value="Entfernen">
    </form>

</form>