<form method="get" action="updateGroups.php" xmlns="http://www.w3.org/1999/html">
<table>
        <tr>
            <td width="50%">ID:</td><td width="50%"><input readonly type="text" name="id" value="[id]"></td>
        </tr>
        <tr>
            <td width="50%">Name:</td><td width="50%"><input type="text" name="name" value="[Name]"></td>
        </tr>
</table>
    <br><br>

    <br>

    [listGroups]

    <br>

    <input type="submit" name="submit" value="Absenden">
    <input type="submit" name="submit" value="Entfernen">
</form>




