body {
    margin:0;
    font-family: Arial, Calibri, "Comic Sans MS";
}
.wrapper {
    height:100%;
}

/* grid */

.grid {
    bottom:0;
    position:absolute;
    top:0;
    width:100%;
}
.grid .span {
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    float:left;
    height:100%;
    position:relative;
}

a:link{
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

table {
    width:100%;
}

th, td {
    padding: 5px;
    text-align: left;
}
table.t01 tr:nth-child(even) {
    background-color: #eee;
}

th {
    background-color: lightblue;
    color: black;
}

tr:hover{
    background-color:transparent;
    font-weight: bold;

}










